@import "compass/typography/text/replacement";
header {
	width: 100%;
	height: 220px;
	position: relative;
	z-index: 10;

	@media screen and (max-width: 770px) {
		height: 220px;
	}
	.content-container {
		width: 68%;
		text-align: center;
		@media screen and (max-width: $break-small) {
			width: 100%;
		}
		
	}


	@include background-image(linear-gradient(#afdeff, #ffffff));
	.icon-logo {
		width: 280px;
		height: 150px;
		display: inline-block;
		background-size: 100% 100%;
		background-position: center top;
		@include hide-text;
	}

	@media screen and (max-width: $break-small) {
		height: 170px;
		.icon-logo {
			width: 250px;
			height: 117px;
		}
	}

	.button.donate {
		margin: 0 auto;
		width: 186px;
		@include font-size(2);

		@media screen and (max-width: 580px) {
			width: 100% !important;
		}

		@media screen and (max-width: 770px) {
			float: left;
			width: 55%;
			margin: 0 1% 0 0;
		}
	}

	#mc_embed_signup_scroll {
		margin: 0 auto;
		width: 75%;

		label {
			float: left;
			margin: 7px 15px 0 0;
		}
	}

	#mc_embed_signup {
		.validate {
			height: 68px;
		}
		input.button {
			display: inline;
			max-width: 170px;
			width: 25%;
		}
	}

}