@import "compass/typography/text/replacement";
header {
	width: 100%;
	height: 150px;
	position: relative;
	z-index: 10;

	@include background-image(linear-gradient(#afdeff, #ffffff));
	.icon-logo {
		width: 280px;
		height: 150px;
		display: block;
		background-size: 100% 100%;
		background-position: center top;
		@include hide-text;
	}

	@media screen and (max-width: $break-small) {
		height: 170px;
		.icon-logo {
			width: 250px;
			height: 117px;
		}
	}

	.button.donate {
		margin: 0 auto;

		@media screen and (max-width: $break-small) {
			width: 100%;
		}
	}

}