.nav-toggle {
	background: $blue;
	color: #ffffff;
	padding: 25px 0;
	width: 100%;
	text-align: center;
	@include font-size(2);
	&:hover {
		background: #ffffff;
	} 

	@media screen and (max-width: 40em) {
		@include inline-block;
	}
}

.main-nav {
	width: 100%;
	background: #ffffff;
	
	ul {
		text-align: center;
		border-top: 2px solid $blue;
		border-bottom: 2px solid $blue;
	}

	li {
		@include inline-block;
		width: auto;
		a {
			
			height: 42px;
			display: block;
			color: $blue;
			padding: 15px 15px 5px;
			@include font-size(1.8);
			&:hover {
				color: #ffffff;
				background: $blue;
			}
		}

		@media screen and (max-width: 740px) {
			width: 100%;
		}
	}





	@media screen and (max-width: $break-mid) {

		
		
	}

	@media screen and (max-width: $break-small) {

	}

	

}