.slider-container {
	overflow: hidden;
  	visibility: hidden;
  	position: relative;
  	max-height: 350px;
	.slider {
		overflow: hidden;
  		position: relative;
		li {
			float:left;
  			width:100%;
  			position: relative;
			img {
				width: 100%;
			}
			
		}
		
	}

	@media screen and (max-width: $break-mid) {

		// height: auto;

		// img {
			
		// 	height: auto;
		// }
		// .slider {
		// 	width: 100%;
		// }
		
	}

	@media screen and (max-width: $break-small) {

	}

	

}