.slider-container {
	width: 100%;
	height: 450px;
	background: #555;
	overflow: hidden;
	position: relative;
	.slider {
		li {
			img {
				width: 100%;
			}
			
		}
		
	}

	@media screen and (max-width: $break-mid) {

		height: auto;

		img {
			
			height: auto;
		}
		.slider {
			width: 100%;
		}
		
	}

	@media screen and (max-width: $break-small) {

	}

	

}