.social-container {
	width: 100%;
	margin: 40px 0;
	text-align: center;
	.button {
		&.social {
			width: 30.164384%;
			@include inline-block;
			float: left;

			padding: 20px 0 63px 0;
			vertical-align: top;
			font-family: "social";
			color: #ffffff;
			@include font-size(5);

			&.facebook {
				background: #3b5998;
				border-bottom: 5px solid #31497a;
				&:hover {
					background: #31497a;
				}
			}

			&.twitter {
				background: #00acee;
				border-bottom: 5px solid #028bc0;

				&:hover {
					background: #028bc0;
				}
			}

			&.linkedin {
				background: #0e76a8;
				border-bottom: 5px solid #0b6089;

				&:hover {
					background: #0b6089;
				}
			}

			&:nth-child(1) {
				margin: 0 5.65% 0 0;
			}

			&:nth-child(3) {
				margin: 0 0 0 5.65%;
			}
		}
	}


	@media screen and (max-width: $break-mid) {
		.content-container {
			width: 100%;
		}
	}

}

header {
	.social-container {
		display: inline-block;
		width: 186px;
		vertical-align: top;
		margin: 20px 0 0 8%;
		@media screen and (max-width: 770px) {
			margin: 0;
			padding: 0;
			width: 100%;
		}
		.buttons {
			margin: 10px 0 0 0;
			@media screen and (max-width: 770px) {
				margin: 0;
			}

			@media screen and (max-width: 580px) {
				display: none;
				margin: 0;
			}
		}
		.button {
			&.social {
				padding: 15px 0 0 0;
				width: 55px;
				@include font-size(2);

				@media screen and (max-width: 770px) {
					margin: 0;
					float: left;

						&:nth-child(1) {
							margin-right: 1%;
						}

						&:nth-child(3) {
							margin-left: 1%;
						}
				}
			}
		}
	}
}