/* Welcome to Compass. your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */



@import "compass/reset";
@import "compass/css3";

/*  ==========================================================================
VARIABLES
========================================================================== */

$red: #f35056;
$dark-red: #bd3e43;
$blue: #2783c3;
$dark-blue: #273169;
$grey: #3e3e3e;
$light-grey: #eeece7;
$tan: #fcf6e0;
$background: #EEECE6;

$heading-color: $dark-blue;
$text-color: $grey;

$break-small: 480px;
$break-mid: 800px;

/*  ==========================================================================
MIXINS
========================================================================== */

@mixin font-size($sizeValue: 1.6) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
}

/*  ==========================================================================
FONTS
========================================================================== */


// videojs fonts
@include font-face(
  "social",
  font-files(
    "social.woff",
    "social.ttf",
    "social.svg"
  ),
  "social.eot"
); 


// font stacks
$sans: arial, Verdana, Geneva, sans-serif;
$serif: 'times new roman', Verdana, Geneva, sans-serif;
$social: 'social', arial, verdana, sans-serif;


/*  ==========================================================================
SPRITES
========================================================================== */



// dashboard
// $portfolio-sprite: sprite-map("sprites/portfolio/*.png", $new-position: 0%, $spacing: 25px);

/*  ==========================================================================
GLOBALS
========= ================================================================= */

* {
    @include box-sizing(border-box);
}

html {
    //reset font-size for use with rems
    font-size: 62.5%;
}

body {
    font-family: $sans;
    @include font-size(1.2);
    color: $text-color; 
    background: $background;
}

h1, h2, h3 , h4, h5, h6 {
    font-family: $serif;
    color: $heading-color;
    letter-spacing: 0.04em;
}

h1, h3 {
    @include font-size(2.8);
    color: #ffffff;
    font-family: $serif;
    text-align: center;
    text-transform: uppercase;
    background: $dark-blue;
    padding: 12px 0;
    margin: 0 0 20px 0;
    font-weight: normal;
}


p {

}

a {
    text-decoration: none;
    color: $blue;
    @include transition(0.3s);

    &:hover {
        color: $blue - 30;
    }
}

strong { 
    font-weight: bold;
}

.content-container {
    width: 90%;
    margin: 0 auto;
}

.button {
    display: block;
    height: 54px;
    width: 220px;
    text-transform: uppercase;
    @include font-size(2.5);
    padding: 16px 0 0 0;
    text-align: center;

    &.red {
        background: $red;
        border-bottom: 3px solid $dark-red;
        color: #fff;

        &:hover {
            background: $dark-red;
        }
    }
}

/*partials*/

@import "header";
@import "navigation";
@import "slider";
@import "quote";
@import "pillars";
@import "endorsements";
@import "social";
@import "footer";

